body {
    background-color: #353535;
}

#search-div * {
    margin: auto;
}

#searchButton {
    border-radius: 25px;
    background-color: white;
    padding: 5px 10px;
    border: 0;
    margin-top: 10px;
}

#search-div {
    width: 350px;
    height: 350px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

#result-div p {
    text-align: center;
}

.row {
    margin: 1% 0;
    display: flex;
}

.invisibleColumn {
    display: inline-block;
    width: 25%;
    flex: 1;
    margin: 0 1%;
    padding: 0 2%;
    border: 2px solid #353535;
}

.indicator {
    background-color: yellow;
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 10px 0 0;
    border-radius: 15px;
}

.column {
    background-color: #555555;
    display: inline-block;
    border-radius: 25px;
    width: 25%;
    flex: 1;
    margin: 0 1%;
    padding: 0 2%;
    border: 2px solid white;
    text-align: center;
}

@media (min-width:960px) {
    #result-div {
        width: 900px;
    }
}

#result-div {
    height: 450px;
    position: absolute;
    top: 25vh;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    color: aliceblue;
    display: none;
}
#alone {
    margin: auto;
}

#searchbar:focus, #searchButton:focus{
    outline: none;
}


#searchbar {
    padding: 0 30px;
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 20px;
}
#search-div * {
    display:block;
}

#search-div {
    display: inline-block;
}
