body {
    background-color: #353535;
}
#title-div {
    color: white;
    width: 50%;
    margin: auto;
    text-align: center;
}

.linkButton, .linkButton:focus, .linkButton:visited, .linkButton:active {
    color: black;
    outline: none;
    text-decoration: none;
}

button {
    border-radius: 25px;
    background-color: white;
    padding: 5px 10px;
    border: 0;
    margin: 10px auto;
    height: 28px;
}

#search-div {
    width: 360px;
    height: 350px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

#result-div p {
    text-align: center;
}

.row {
    margin: 12px 0;
    display: flex;
}

.indicator {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 10px 0 0;
    border-radius: 15px;

}

.column, .alone {
    flex-direction: column;
    justify-content: space-between;
    background-color: #555555;
    color: black;
    display: flex;
    border-radius: 25px;
    flex: 1;
    margin: 0 6px;
    padding: 0 10px;
    border: 2px solid white;
    text-align: center;
}

.alone {
    width: auto;
}


#result-div {
    height: 450px;
    position: absolute;
    top: 25vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 50px auto auto;
    color: aliceblue;
    display: none;
}

#searchbar:focus, #searchButton:focus{
    outline: none;
}

#searchbar {
    padding: 0 30px;
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 20px;
}

#search-div * {
    display:block;
}


#search-div {
    display: inline-block;
}

#pdfDownload {
    display: inline-block;
    visibility: hidden;
}


.separate-column-left {
    margin-right: 30px;
}

.separate-row {
    margin-top: 30px;
}

.big {
    margin: 20px auto;
    font-size: 1.17em;
    font-weight: bolder
}
.very-big {
    margin: 20px auto;
    font-size: 2.5em;
    font-weight: bolder;
}

@media (min-width:960px) {
    #result-div {
        width: 900px ;
    }
}

@media (max-width:960px) {
    #title-div {
        width: 90%;
    }
}